:root {
    --color-accent-1: #e75a3a;
    --color-accent-2: #224637;
    --color-light-1: #fefef5;
    --color-light-2: #f5f5e8;
    --color-dark-1: rgb(2, 25, 36);
    --color-dark-2: rgb(9, 31, 41);
    --color-text: #6c6c6c;
    --color-border: rgba(140, 140, 140, 0.25);
  }
  
  [data-theme=dark] {
    --color-light-1: rgb(4, 5, 5);
    --color-light-2: rgb(9, 31, 41);
    --color-dark-1: #fefef5;
    --color-dark-2: #f5f5e8;
    --color-text: #aaa;
  }
  
  @media (prefers-color-scheme:dark) {
    :root {
      --color-light-1: rgb(4, 5, 5);
      --color-light-2: rgb(9, 31, 41);
      --color-dark-1: #fefef5;
      --color-dark-2: #f5f5e8;
      --color-text: #aaa;
    }
  }

  .color-accent-1 {
    color: var(--color-accent-1)
  }
  .color-light-1 {
    color: var(--color-light-1)
  }
  .color-dark-1 {
    color: var(--color-dark-1)
  }

  .bg-accent-1 {
    background-color: var(--color-accent-1)
  }
  .bg-light-1 {
    background-color: var(--color-light-1)
  }
  .bg-dark-1 {
    background-color: var(--color-dark-1)
  }
  .overlay-20,
  .overlay-40,
  .overlay-60 {
    position: relative
  }
  .overlay-20::before,
  .overlay-40::before,
  .overlay-60::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 0
  }
  .overlay-20::before {
    opacity: .1
  }
  .overlay-40::before {
    opacity: .4
  }
  .overlay-60::before {
    opacity: .6
  }