html {
  overflow-x: hidden
}

body {
    margin: 0;
    height: 100%;
    font-family: var(--font-primary);
    background: var(--color-light-1)!important;
    color: var(--color-dark-1);
    overflow-x: hidden
}

a {
  color: var(--color-dark-1);
  text-decoration: none
}

p {
  font-family: var(--font-secondary);
  font-size: 5vw;
  font-weight: 400;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto
}


.site-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none
}

.site-grid-item {
  height: 100vh;
  border-right: 1px solid rgba(130, 130, 130, 0.25);
}



@keyframes opacityGradient {
  0% {
      opacity: .5
  }
  50% {
      opacity: 1
  }
  100% {
      opacity: .5
  }
}

.gradient-black,
.gradient-black-anim,
.gradient-white-anim {
  position: relative;
  overflow: hidden
}

.gradient-black-anim::before,
.gradient-black::before,
.gradient-white-anim::before {
  position: absolute;
  content: "";
  opacity: .8
}

@media(min-width:767px) {
  .gradient-black::before {
    top: -150vh;
    left: -85%;
    height: 280vh;
    width: 170%;
      background: var(--color-light-1);
      background: radial-gradient(circle, var(--color-light-2) 0, var(--color-light-1) 40%);
      z-index: -1
  }
}




/* Animations
---------------------------------- */

.char {
  overflow: hidden
}

.reveal {
  transform: translateX(-100%);
  animation-timing-function: cubic-bezier(0.96, 0.04, -0.01, 0.98);
  transition-duration: .8s
}

.is-inview .reveal {
transform: translateX(0);
}

.char:nth-of-type(1) .reveal {
  transition-delay: 0s   
}
.char:nth-of-type(2) .reveal {
  transition-delay: .2s  
}
.char:nth-of-type(3) .reveal {
  transition-delay: .4s    
}
.char:nth-of-type(4) .reveal {
  transition-delay: .6s    
}
.char:nth-of-type(5) .reveal {
  transition-delay: .8s   
}
.char:nth-of-type(6) .reveal {
  transition-delay: 1.5s  
}
.char:nth-of-type(7) .reveal {
  transition-delay: 1.8s    
}
.char:nth-of-type(8) .reveal {
  transition-delay: 2.1s    
}

.fade-in {
  opacity: 0;
  transition: .8s;
  transition-delay: .3s 
  }
  
  .fade-in.is-inview {
  opacity: 1
  }

.fade-in-down {
opacity: 0;
transform: translateY(50%);
transition: .8s;
transition-delay: .3s  
}

.fade-in-down.is-inview {
transform: translateY(0);
opacity: 1
}