html {
  overflow-x: hidden
}

body {
    margin: 0;
    height: 100%;
    font-family: var(--font-primary);
    background: var(--color-light-1)!important;
    color: var(--color-dark-1);
    overflow-x: hidden
}

a {
  color: var(--color-dark-1);
  text-decoration: none
}

p {
  font-family: var(--font-secondary);
  font-size: 5vw;
  font-weight: 400;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto
}


.site-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none
}

.site-grid-item {
  height: 100vh;
  border-right: 1px solid rgba(160, 160, 160, 0.2);
}



@keyframes opacityGradient {
  0% {
      opacity: .5
  }
  50% {
      opacity: 1
  }
  100% {
      opacity: .5
  }
}

.gradient-black,
.gradient-black-anim,
.gradient-white-anim {
  position: relative;
  overflow: hidden
}

.gradient-black-anim::before,
.gradient-black::before,
.gradient-white-anim::before {
  position: absolute;
  content: "";
  opacity: .8
}

@media(min-width:767px) {
  html {
    overflow-y: hidden
  }
  .gradient-black::before {
    top: -150vh;
    left: -85%;
    height: 280vh;
    width: 170%;
      background: var(--color-light-1);
      background: radial-gradient(circle, var(--color-light-2) 0, var(--color-light-1) 40%);
      z-index: -1
  }
}


