  
:root {
    --font-primary: "Syne", sans-serif;
    --font-secondary: "Montserrat", sans-serif;
    --xxl-font-size: 15;
    --xxl-line-height: .9;
    --xxl-letter-spacing: 3;
    --xl-font-size: 5;
    --xl-line-height: 1;
    --xl-letter-spacing: 1;
    --h1-font-size: 6;
    --h1-line-height: 1.2;
    --h1-letter-spacing: 0;
    --h2-font-size: 5;
    --h2-line-height: 1.2;
    --h2-letter-spacing: 1;
    --h3-font-size: 3.8;
    --h3-line-height: 1.3;
    --h3-letter-spacing: 1;
    --h4-font-size: 2.6;
    --h4-line-height: 1.5;
    --h4-letter-spacing: 0;
    --h5-font-size: 2;
    --h5-line-height: 1.5;
    --h5-letter-spacing: 0;
    --h6-font-size: 1.5;
    --h6-line-height: 1.5;
    --h6-letter-spacing: 0;
    --subheading-font-size: 1;
    --subheading-line-height: 1;
    --subheading-letter-spacing: 4;
    --paragraph-font-size: 1;
    --paragraph-line-height: 1.8;
    --paragraph-letter-spacing: 0.8;
    --blockquote-font-size: 1;
    --blockquote-letter-spacing: 0;
    --dropcap-font-size: 1;
}

h1 {
    transition-delay: 0ms!important;
    animation-delay: 0ms!important;
}
h1,
h2,
h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em
}
h4,
h5,
h6 {
  margin-top: 0.75em;
  margin-bottom: 0.75em
}
.xxl {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--font-secondary);
  line-height: var(--xxl-line-height);
  font-size: calc(var(--xxl-font-size) * 1vw);
  font-weight: 800;
  letter-spacing: calc(var(--xxl-letter-spacing) * 1px);
}

@media(min-width:767px) {
  .xxl {
    font-size: calc(var(--xxl-font-size) * .8vw)
  }
}

.xl {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--font-secondary);
  line-height: var(--xl-line-height);
  font-size: calc(var(--xl-font-size) * 1.5vw);
  font-weight: 800;
  letter-spacing: calc(var(--xl-letter-spacing) * 1px);
}

@media(min-width:767px) {
  .xl {
    font-size: calc(var(--xl-font-size) * 1vw)
  }
}

h1, .h1 {
  font-family: var(--font-primary);
  line-height: var(--h1-line-height);
  font-size: calc(var(--h1-font-size) * 1.5vw);
  font-weight: 500;
  letter-spacing: calc(var(--h1-letter-spacing) * 1px);
}

@media(min-width:767px) {
  h1, .h1 {
    font-size: calc(var(--h1-font-size) * 1vw)
  }
}

h2, .h2 {
    font-family: var(--font-primary);
    line-height: var(--h2-line-height);
    font-size: calc(var(--h2-font-size) * 1.5vw);
    font-weight: 500;
    letter-spacing: calc(var(--h2-letter-spacing) * 1px);
  }

  @media(min-width:767px) {
    h2, .h2 {
      font-size: calc(var(--h2-font-size) * 1vw)
    }
  }

  h3, .h3 {
    font-family: var(--font-primary);
    line-height: var(--h3-line-height);
    font-size: calc(var(--h3-font-size) * 1.5vw);
    font-weight: 500;
    letter-spacing: calc(var(--h3-letter-spacing) * 1px);
  }

  @media(min-width:767px) {
    h3, .h3 {
      font-size: calc(var(--h3-font-size) * 1vw)
    }
  }

  h4, .h4 {
    font-family: var(--font-primary);
    line-height: var(--h4-line-height);
    font-size: calc(var(--h4-font-size) * 1.8vw);
    font-weight: 500;
    letter-spacing: calc(var(--h4-letter-spacing) * 1px);
  }
  
  @media(min-width:767px) {
    h4, .h4 {
      font-size: calc(var(--h4-font-size) * 1vw)
    }
  }

  h5, .h5 {
    font-family: var(--font-primary);
    line-height: var(--h5-line-height);
    font-size: calc(var(--h5-font-size) * 1.8vw);
    font-weight: 500;
    letter-spacing: calc(var(--h5-letter-spacing) * 1px);
  }
  
  @media(min-width:767px) {
    h5, .h5 {
      font-size: calc(var(--h5-font-size) * 1vw)
    }
  }

  h6, .h6 {
    font-family: var(--font-primary);
    line-height: var(--h6-line-height);
    font-size: calc(var(--h6-font-size) * 1.8vw);
    font-weight: 500;
    letter-spacing: calc(var(--h6-letter-spacing) * 1px);
  }

  @media(min-width:767px) {
    h5, .h5 {
      font-size: calc(var(--h5-font-size) * 1vw)
    }
  }

  .subheading {
    font-family: var(--font-primary);
    line-height: var(--subheading-line-height);
    font-size: calc(var(--subheading-font-size) * 1vw);
    font-weight: 500;
    letter-spacing: calc(var(--subheading-letter-spacing) * 1px);
    opacity: .5
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 400;
    font-size: calc(var(--paragraph-font-size) * 3vw);
    line-height: var(--paragraph-line-height);
    letter-spacing: calc(var(--paragraph-letter-spacing) * 1px);
    color: var(--color-text);
  }

  @media(min-width:767px) {
    p {
      font-size: calc(var(--paragraph-font-size) * 1vw)
    }
  }

  blockquote {
    border-left: 3px solid var(--color-accent-1);
    margin-left: 0;
    padding-left: 30px;
    font-size: 24px;
  }

  small, .small {
    font-size: calc(var(--subheading-font-size) * 2vw);
  }
  @media(min-width:767px) {
    small, .small {
      font-size: calc(var(--subheading-font-size) * 1vw)
    }
  }

  .text-uppercase {
    text-transform: capitalize
}


  .big-text {
    position: relative;
  }

  .big-text span:last-child {
    position: absolute;
    top: -0.5em;
    left: 0;
    width: max-content;
    background: transparent;
    opacity: .05;
    z-index: -1
  }

  .text-center {
    text-align: center    
}

  .text-stroke {
    color: var(--color-light-1)!important;
    background: transparent;
    text-shadow: 
    1px   0  0   var(--color-dark-1), 
   -1px   0  0   var(--color-dark-1),
    0    1px 0   var(--color-dark-1),
    0   -1px 0   var(--color-dark-1),
    1px  1px 0   var(--color-dark-1),
   -1px -1px 0   var(--color-dark-1), 
    1px -1px 0   var(--color-dark-1),
   -1px  1px 0   var(--color-dark-1),
    1px  1px 1px var(--color-dark-1), 
  }
  
  .stroke-light {
    text-shadow: 3px 3px 15px var(--color-white);
  }
  .text-md-center {
    text-align: center    
}