:root {
  --transPower1: cubic-bezier(0,.5,.21,.97);
  --transPower2: cubic-bezier(.83,0,.17,1);
}

.transition-fade {
  transition: 500ms var(--transPower1);
  transform: translateY(0);
}

html.is-animating .transition-fade {
  transform: translateY(-50px);
  opacity: 0;
}

.swup-progress-bar {
  height: 3px;
  background-color: #fff;
}
