.contact-link {
  position: relative;
}

.contact-link:before {
  content: "";
  width: 0;
  height: 3px;
  background: var(--color-dark-1);
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.contact-link:hover:before {
  width: 100%;
}

.arrow {
  width: 45%;
  height: auto;
  fill: var(--color-dark-1);
}

.contact-icon-wrap svg {
  width: 7vw;
  height: 7vw;
  margin-right: 2.2em;
}

.cursor .cursor--small,
.cursor .cursor--large,
.cursor .cursor--text {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: var(--cursor-size);
  height: var(--cursor-size);
  mix-blend-mode: difference;
  pointer-events: none;
  user-select: none;
}

.cursor .cursor--text {
  --cursor-size: fit-content;
  font-size: 0.75rem;
  color: #fff;
  opacity: 0;
}

.cursor .cursor--text .text {
  font-family: sans-serif;
  font-weight: bold;
}

.cursor .cursor--small {
  --cursor-size: 8px;
  background: var(--color-light-1);
}

.cursor .cursor--large {
  --cursor-size: 60px;
  border: 2px solid var(--color-light-1);
}

.support a {
  display: inline-block;
  margin: 0 1em 0 0;
  width: 2vw;
  color: var(--color-dark-1);
  font-size: 3.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
  mix-blend-mode: difference;
}

.support a:hover {
  transform: scale(1.1);
}

@media (min-width: 767px) {
  .arrow {
    width: 65%;
  }
  .contact-icon-wrap svg {
    width: 3.2vw;
    height: 3.2vw;
  }
}
