.contact-link {
  position: relative;
}

.contact-link:before {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background: var(--color-dark-1);
  transition: all 0.6s cubic-bezier(0.79, 0, 0.07, 0.88);
  bottom: -5px;
  left: 0;
}

.contact-link:hover:before {
  width: 100%;
}

.arrow {
  width: 45%;
  height: auto;
  fill: var(--color-dark-1);
}

.contact-icon-wrap svg {
  width: 7vw;
  height: 7vw;
  margin-right: 2.2em;
  transition: all 0.6s cubic-bezier(0.79, 0, 0.07, 0.88);
}

.contact-icon-wrap svg:hover {
  transform: scale(1.25);
}

@media (min-width: 767px) {
  .arrow {
    width: 65%;
    transition: all 0.6s cubic-bezier(0.79, 0, 0.07, 0.88);
  }
  .arrow.active {
    transform: translateX(55%) scale(0.6);
  }
  .contact-icon-wrap svg {
    width: 3.2vw;
    height: 3.2vw;
  }
}
