@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fixed-nav {
  position: fixed;
  display: block;
  top: 16vh;
  right: calc(4vw - 1em);
  animation: fadeRight 0.5s linear forwards;
  z-index: 999;
}

.mm-projects-nav {
  height: 100%;
}

.mm-projects-nav-btn {
  display: block;
  overflow: hidden;
  line-height: 4em;
  margin: 2em 0 0;
  transform: rotate(180deg);
}

.mm-projects-nav-btn a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  transform: translate(0, 100%) rotate(-90deg);
  transform-origin: 0 0;
  white-space: nowrap;
  font-size: 0.85vw;
  letter-spacing: 0.1em;
  transition: 0.2s;
  opacity: 0.6;
}

.mm-projects-nav-btn a:hover {
  opacity: 0.9;
}

.mm-projects-nav-btn.active {
  transition: 1s;
}

.mm-projects-nav-btn.active a::before {
  position: absolute;
  content: "";
  top: 0.5vw;
  left: 40%;
  width: 0.4vw;
  height: 0.4vw;
  background-color: var(--color-dark-1);
  border-radius: 50%;
  transition: 1s;
  opacity: 0.6;
}
