.site-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: fit-content;
  pointer-events: none;
  z-index: 9999;
}

.header-wrap {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo img {
  width: 20vw;
  padding-left: 1.5em;
  height: auto;
  pointer-events: all;
}

.logo-light {
  display: none;
}

.menu-items {
  pointer-events: all;
}

@media (min-width: 767px) {
  .header-wrap {
    padding: 3.5em 2.2em;
  }
  .site-logo img {
    width: 10vw;
  }
}
