#inside-js-scroll {
  height: 50vh;
  min-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.portfolio-list {
  padding-left: 0;
}

.portfolio-item {
  position: relative;
  margin-bottom: 1.5em;
  padding-left: 0;
  list-style: none;
  z-index: 9;
}

.portfolio-item::after {
  position: absolute;
  content: "";
  top: calc(50% - 0.6em);
  left: -5em;
  font-size: 3vw;
  opacity: 0.5;
}

.portfolio-item:nth-child(1):after {
  content: "I";
}

.portfolio-item:nth-child(2):after {
  content: "II";
}

.portfolio-item:nth-child(3):after {
  content: "III";
}

.portfolio-item:nth-child(4):after {
  content: "IV";
}

.portfolio-item:nth-child(5):after {
  content: "V";
}

.portfolio-link {
  position: absolute;
  top: calc(50% - 0.75em);
  left: 0;
  z-index: 9;
}

.portfolio-img-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-img-wrap::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.1;
  z-index: 1;
}

.portfolio-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

.portfolio-img:first-child {
  position: relative;
  opacity: 1;
}

.portfolio-img.active {
  transition: 0.5s;
  opacity: 1;
}

.portfolio-img-mobile {
  position: relative;
  margin-bottom: 2.2em;
}

.portfolio-img-mobile::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, var(--color-light-1) 0%, rgba(41, 53, 86, 0.2) 100%);
  opacity: 0.9;
}

@media (min-width: 767px) {
  .portfolio-item::after {
    left: -5em;
    font-size: 1vw;
  }
  .portfolio-link {
    position: relative;
  }
  .portfolio-link::before {
    position: absolute;
    content: "";
    bottom: 3px;
    width: 0;
    height: 3px;
    background-color: var(--color-dark-1);
    animation-timing-function: var(--ease1);
    transition: 0.5s;
  }
  .portfolio-link:hover::before {
    width: 100%;
  }
  .portfolio-link.active::before {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .portfolio-link {
    font-weight: 700;
  }
}
