
.contact-link {
    position:relative
   }
   .contact-link:before {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background: var(--color-dark-1);
    transition: all .6s cubic-bezier(0.79, 0, 0.07, 0.88);
    bottom: -5px;
    left: 0
   }
   .contact-link:hover:before {
    width:100%
   }
   .arrow {
    width: 45%;
    height:auto;
    fill:var(--color-dark-1)
   }
  
.contact-icon-wrap svg {
    width: 7vw;
    height: 7vw;
    margin-right: 2.2em
}



  .cursor .cursor--small,
  .cursor .cursor--large,
  .cursor .cursor--text {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: var(--cursor-size);
    height: var(--cursor-size);
    mix-blend-mode: difference;
    pointer-events: none;
    user-select: none
  }
  .cursor .cursor--text {
    --cursor-size: fit-content;
    font-size: .75rem;
    color: var(--color-light-1);
    opacity: 0
  }
  .cursor .cursor--text .text {
    font-family: sans-serif;
    font-weight: bold
  }
  .cursor .cursor--small {
    --cursor-size: 5px;
    background: var(--color-light-1)
  }
  .cursor .cursor--large {
    --cursor-size: 60px;
    border: 1px solid var(--color-light-1)
  }

@media(min-width:767px) {
    .arrow {
        width:65%
       }
    .contact-icon-wrap svg {
        width: 3.2vw;
        height: 3.2vw
    }
}