
.fixed-nav {
    position: fixed;
    display: block;
    top: 8em;
    right: 1.3vw;
    z-index: 999
}

.mm-projects-nav {
    height: 100%
}

.mm-projects-nav-btn {
    display: block;
    overflow: hidden;
    line-height: 4em;
    margin: 2em 0 0;
    transform: rotate(180deg)
}

.mm-projects-nav-btn a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    transform: translate(0,100%) rotate(-90deg);
    transform-origin: 0 0;
    white-space: nowrap;
    font-size: .85vw;
    letter-spacing: .1em;
    opacity: .7
}

.mm-projects-nav-btn.active {
    transition: 1s;
}

.mm-projects-nav-btn.active a::before {
    position: absolute;
    content: "";
    top: .5vw;
    left: 40%;
    width: 0.4vw;
    height: 0.4vw;
    background-color: var(--color-dark-1);
    border-radius: 50%;
    transition: 1s;
    opacity: .6
}