



.site-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: fit-content;
    z-index: 99
  }
  
  .header-wrap {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .site-header .menu-items {
    display: flex;
    align-items: center
  }
  
  .menu-items .menu {
    font-size: 1.2vw;
    line-height: 1;
    padding: 0px 15px;
    min-width: 4em;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden
  }
  .menu-items .menu span {
    display: block;
    position: relative;
  }
  #menuBtnDiv2 {
    position: absolute;
  }
  
   .site-logo img {
    width: 20vw;
    padding-left: 1.5em;
    height: auto
   }
  
   .logo-light {
    display: none
  }
  
  /* menu container  */
  .menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 9;
  }
  .menu-container .menu-container-1 {
    width: 50vw;
    background-color: var(--color-light-2);
  }
  .menu-container-1 {
    display: flex;
    padding: 10vh 5vw;
    flex-direction: column;
    justify-content: space-between
  }
  .menu-container-1 .menu-container-header li {
    font-size: 3.6vw;
    margin: 10px 0px;
    font-weight: bold;
    color: var(--color-dark-1);
    overflow: hidden;
  }
  .menu-container-1 .menu-container-footer li {
    font-size: 2vw;
    font-weight: lighter;
    text-decoration: underline;
    color: var(--color-dark-2);
    margin: 10px 0px;
    overflow: hidden;
  }
  ul {
    list-style: none;
  }
  .menu-container .menu-container-2 {
    width: 50vw;
    background-color: var(--color-dark-2);
  }
  .menu-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10vh 5vw;
    color: var(--color-light-1)
  }
  .menu-container-2 .menu-container-footer li {
    font-size: 2vw;
    margin: 11px 0px;
    overflow: hidden
  }
  .menu-container-header li span,
  .menu-container-footer li span {
    display: block;
    position: relative
  }
  
  @media(min-width:767px) {
    .header-wrap {
      padding: 3.5em 2.2em;
     }
    .site-logo img {
      width: 10vw
     }
  }
  