
.portfolio-list {
    padding-left: 0
}

.portfolio-item {
    position: relative;
    margin-bottom: 1.8em;
    padding-left: 0;
    list-style: none;
    overflow: hidden;
    z-index: 9
}

.portfolio-link {
    position: relative
}

.portfolio-link::before {
    position: absolute;
    content: "";
    bottom: 3px;
    width: 0;
    height: 3px;
    background-color: var(--color-dark-1);
    transition: .5s cubic-bezier(0.58, 0.02, 0.1, 0.87);
}

.portfolio-link:hover::before {
    width: 100%
}

.portfolio-link.active::before {
    width: 100%
}


.portfolio-img-wrap {
    position: relative;
    overflow: hidden
}

.portfolio-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s
}

.portfolio-img:first-child {
    position: relative;
    opacity: 1
}

.portfolio-img.active {
    animation: scaleUpImg .6s;
    opacity: 1
}

@keyframes scaleUpImg {
    0% {
        transform: scale(1)
    }
    20% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}
