</div>
</div>
<script src="/assets/js/swup.js"></script>
<script src="/assets/js/app.js"></script>

<script>
function loadingScripts() {
    if (document.querySelector(".portfolio-list")) {
        portfolioList()
    }
    if (document.querySelector(".gsap")) {
        greetingsText()
    }
    if (document.querySelector(".gsap")) {
        accordionWrap()
    }
    if (document.querySelector(".gsap")) {
        splt({ reveal: true })
    }
}
  
</script>

<script src="/assets/js/split.js"></script>
<script>splt({ reveal: true });</script>

<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>

<script>
  window.addEventListener("load", () => {
  scroll = new LocomotiveScroll({
    el: document.querySelector("[data-scroll-container]"),
    smooth: true,
    reloadOnContextChange: !0,
    multiplier: .65,
    lerp: .15,
    touchMultiplier: 2,
    tablet: {
      smooth: !0
    },
    smartphone: {
      smooth: !0
    }
  });

new ResizeObserver(() => scroll.update()).observe(document.querySelector("[data-scroll-container]"));

const swup = new Swup({
  animateHistoryBrowsing: true,
  plugins: [
    new SwupProgressPlugin(), 
    new SwupBodyClassPlugin()
  ]
});

document.addEventListener("swup:animationInStart", () => {
  scroll.destroy(), 
  scroll.init(), 
  loadingScripts()
}), 

document.addEventListener("swup:animationInDone", () => {
  scroll.destroy(), scroll.init()
}), console.clear();
});
</script>

<script>
   const setTheme = () => {
     const currentTheme = localStorage.getItem('theme');
     if (!currentTheme) {
       localStorage.setItem('theme', 'light');
       document.documentElement.dataset.theme = 'light';
       return;
     }
     document.documentElement.dataset.theme = currentTheme;
   }
   setTheme();
   const themeToggleBtn = document.querySelector('.js-toggle-theme');
   themeToggleBtn.addEventListener('click', () => {  
     const { theme } = document.documentElement.dataset;
     const themeTo = theme === 'light' ? 'dark' : 'light';
     const themeLabel = `Activate ${theme} mode`;
     document.documentElement.dataset.theme = themeTo;
     localStorage.setItem('theme', themeTo);
     themeToggleBtn.setAttribute('aria-label', themeLabel);
     themeToggleBtn.setAttribute('title', themeLabel);
   });
</script>
<script>

</script>
</body>
</html>
