</div>
</div>
<script src="/assets/js/swup.js"></script>
<script src="/assets/js/loco.js"></script>
<script src="/assets/js/split.js"></script>
<script>splt({ reveal: true });</script>
<script src="/assets/js/app.js"></script>
<script>
function loadingScripts() {
    if (document.querySelector(".portfolio-list")) {
        portfolioList()
    }
    if (document.querySelector("#greeting")) {
        greetingsText()
    }
    if (document.querySelector(".accordion-wrap")) {
        accordionWrap()
    }
    if (document.querySelector(".splt")) {
        splt({ reveal: true })
    }
    if (document.querySelector(".contact-link")) {
        contactLink()
    }
};
const swup = new Swup({
  animateHistoryBrowsing: true,
  plugins: [
    new SwupProgressPlugin(), 
    new SwupBodyClassPlugin()
  ]
});
document.addEventListener("swup:animationInStart", () => {
  scroll.destroy(), 
  scroll.init(), 
  scrollTo(top),
  loadingScripts()
}), 
document.addEventListener("swup:animationInDone", () => {
  scroll.destroy(), 
  scroll.init()
}), console.clear();
</script>
<script>
   const setTheme = () => {
     const currentTheme = localStorage.getItem('theme');
     if (!currentTheme) {
       localStorage.setItem('theme', 'light');
       document.documentElement.dataset.theme = 'light';
       return;
     }
     document.documentElement.dataset.theme = currentTheme;
   }
   setTheme();
   const themeToggleBtn = document.querySelector('.js-toggle-theme');
   themeToggleBtn.addEventListener('click', () => {  
     const { theme } = document.documentElement.dataset;
     const themeTo = theme === 'light' ? 'dark' : 'light';
     const themeLabel = `Activate ${theme} mode`;
     document.documentElement.dataset.theme = themeTo;
     localStorage.setItem('theme', themeTo);
     themeToggleBtn.setAttribute('aria-label', themeLabel);
     themeToggleBtn.setAttribute('title', themeLabel);
   });
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Person",
  "name": "Przemek Miros",
  "url": "https://przemekmiros.pl/",
  "image": "https://przemekmiros.pl/assets/img/about.jpg",
  "sameAs": [
    "https://www.facebook.com/przemekstronyinternetowe",
    "https://www.youtube.com/channel/UCJlzx8qM6bVuCp7mP9yLepA",
    "https://www.linkedin.com/in/przemys%C5%82aw-miros-6b6b431a2/",
    "https://przemekmiros.pl/"
  ]  
}
</script>
</body>
</html>
