<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Gsap</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Syne:wght@400;500;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" />
</head>
<body class="gsap">
    <div class="site-grid">
    <div class="container">
        <div class="row gx-0">
            <div class="col-md-2 site-grid-item"></div>
            <div class="col-md-1 site-grid-item"></div>
            <div class="col-md-6 site-grid-item"></div>
        </div>
    </div>
</div>
<div class="smooth-scroll" id="fixed-target">
<!--
<div class="progress-wrap" data-scroll data-scroll-sticky data-scroll-target="#fixed-target">
<progress max="100" value="0"></progress>
</div>
-->
