<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nowoczesne Strony Internetowe - Przemek Miros</title>
    <meta name="description" content="Wykonuję strony internetowe dla małych i średnich firm. Postaw na specjalistyczne wsparcie i skutecznie rozwijaj swój biznes">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" />
    <style>
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/montserrat-v25-latin-ext_latin-regular.eot'); 
  src: local(''),
       url('/assets/fonts/montserrat-v25-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('/assets/fonts/montserrat-v25-latin-ext_latin-regular.woff2') format('woff2'), 
       url('/assets/fonts/montserrat-v25-latin-ext_latin-regular.woff') format('woff'), 
       url('/assets/fonts/montserrat-v25-latin-ext_latin-regular.ttf') format('truetype'),
       url('/assets/fonts/montserrat-v25-latin-ext_latin-regular.svg#Montserrat') format('svg'); 
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/montserrat-v25-latin-ext_latin-800.eot'); 
  src: local(''),
       url('/assets/fonts/montserrat-v25-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/montserrat-v25-latin-ext_latin-800.woff2') format('woff2'),
       url('/assets/fonts/montserrat-v25-latin-ext_latin-800.woff') format('woff'), 
       url('/assets/fonts/montserrat-v25-latin-ext_latin-800.ttf') format('truetype'), 
       url('/assets/fonts/montserrat-v25-latin-ext_latin-800.svg#Montserrat') format('svg'); 
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/montserrat-v25-latin-ext_latin-900.eot'); 
  src: local(''),
       url('/assets/fonts/montserrat-v25-latin-ext_latin-900.eot?#iefix') format('embedded-opentype'), 
       url('/assets/fonts/montserrat-v25-latin-ext_latin-900.woff2') format('woff2'), 
       url('/assets/fonts/montserrat-v25-latin-ext_latin-900.woff') format('woff'), 
       url('/assets/fonts/montserrat-v25-latin-ext_latin-900.ttf') format('truetype'), 
       url('/assets/fonts/montserrat-v25-latin-ext_latin-900.svg#Montserrat') format('svg'); 
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/syne-v15-latin-ext_latin-regular.eot'); 
  src: local(''),
       url('/assets/fonts/syne-v15-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/syne-v15-latin-ext_latin-regular.woff2') format('woff2'), 
       url('/assets/fonts/syne-v15-latin-ext_latin-regular.woff') format('woff'), 
       url('/assets/fonts/syne-v15-latin-ext_latin-regular.ttf') format('truetype'), 
       url('/assets/fonts/syne-v15-latin-ext_latin-regular.svg#Syne') format('svg'); 
}
    </style>
</head>
<body class="page-{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}" id="scroll-target"> 
<div id="js-scroll" data-scroll-container>
<div class="progress-bar" data-scroll data-scroll-sticky data-scroll-target="#js-scroll"></div>
<div class="site-grid">
   <div class="container">
        <div class="row gx-0">
            <div class="col-1 col-md-2 site-grid-item"></div>
            <div class="col-2 col-md-2 site-grid-item"></div>
            <div class="col-7 col-md-6 site-grid-item"></div>
        </div> 
   </div>
</div>


