---
layout: layouts/base
title: 1
---

<main>
    
    <div class="pt-md-xlarge pt-medium"></div>
    {% include 'sections/welcome.njk' %}
    <div class="pt-md-medium pt-small"></div>
    <div class="container">
            <div class="row gx-0">
                <div class="offset-3 col-9 fade-down">
                    <a href="/index2/">Zobacz więcej</a>
                </div>
            </div>
    </div>
    <div class="pt-md-xlarge pt-xlarge pb-md-xlarge"></div>
    {% include 'sections/portfolio.njk' %}
    <div class="pt-md-xlarge pt-xlarge pb-md-xlarge"></div>
    {% include 'sections/services.njk' %}
    <div class="pt-md-xlarge pt-medium"></div>
    {% include 'sections/contact.njk' %}

</main>

<div class="pt-md-large pt-medium pb-medium"></div>