---
layout: layouts/base
title: 2
---

<main>
    <div class="spacing-200"></div>
    <section>
        <div class="container">
            <div class="row gx-0">
                <div class="offset-md-3 col-md-6">
                    <p>
                        Dzień dobry
                    </p>
                </div>
            </div>
            <div class="row gx-0">
                <div class="offset-1 col-md-2 pt-xsmall">
                    <p> 
                        <small>
                            01
                        </small>
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="paragraph-big"> 
                        Jestem Przemek. Wykonuję strony internetowe dla małych i średnich firm. Postaw na specjalistyczne wsparcie i skutecznie rozwijaj swój biznes
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row gx-0">
                <div class="offset-md-3 col-md-9">
                    <a href="/">Go to other page</a>
                </div>
            </div>
        </div>
        <div class="spacing-200"></div>
        <div class="spacing-200"></div>

        <div class="container">
            <div class="row gx-0 pb-small">
                <div class="offset-md-3 col-md-6">
                    <p>
                        Wybrane prace
                    </p>
                </div>
            </div>
            <div class="row gx-0">
                <div class="offset-md-1 col-md-2">
                    <p> 
                        <small>
                            02
                        </small>
                    </p>
                </div>
                <div class="col-md-9">
                    <h2 class="split-text">
                        REA
                    </h2>
                </div>
            </div>
            <div class="row gx-0">
                <div class="offset-md-1 col-md-10">
                    <h2 class="split-text">
                        LIZA
                    </h2>
                </div>
            </div>
            <div class="row gx-0">
                <div class="offset-md-3 col-md-9">
                    <h2 class="split-text">
                        CJE
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <div class="spacing-200"></div>
    <div class="spacing-200"></div>
</main>