---
layout: layouts/base
title: 1
---

<main>
    <section>
        <div class="spacing-200"></div>
        <div class="container">
            <div class="row gx-0">
                <div class="offset-3 col-9">
                    <a href="/index2/">Go to other page</a>
                </div>
            </div>
        </div>
        <div class="spacing-200"></div>

        <div class="container">
            <div class="row gx-0">
                <div class="offset-3 col-9">
                    <h2 class="split-text">
                        REA
                    </h2>
                </div>
            </div>
            <div class="row gx-0">
                <div class="offset-1 col-10">
                    <h2 class="split-text">
                        LIZA
                    </h2>
                </div>
            </div>
            <div class="row gx-0">
                <div class="offset-3 col-9">
                    <h2 class="split-text">
                        CJE
                    </h2>
                </div>
            </div>
        </div>
        <div class="spacing-200"></div>
        <div class="spacing-200"></div>
    </section>
    <section>
        <div class="spacing-200"></div>
        <div class="container">
            <div class="row gx-0">
                <div class="offset-3 col-9">
                    <a href="/index2/">Go to other page</a>
                </div>
            </div>
        </div>
        <div class="spacing-200"></div>

        <div class="container">
            <div class="row gx-0">
                <div class="offset-3 col-9">
                    <h2 class="split-text">
                        REA
                    </h2>
                </div>
            </div>
            <div class="row gx-0">
                <div class="offset-1 col-10">
                    <h2 class="split-text">
                        LIZA
                    </h2>
                </div>
            </div>
            <div class="row gx-0">
                <div class="offset-3 col-9">
                    <h2 class="split-text">
                        CJE
                    </h2>
                </div>
            </div>
        </div>
        <div class="spacing-200"></div>
        <div class="spacing-200"></div>
    </section>
</main>