---
layout: layouts/base
title: 2
---

<div class="title-wrap">
    <h1 class="title">Gsap starter 2</h1>
    <a href="/">Go to other page</a>
</div>
<main>
    {% include "sections/images.njk" %}
</main>
<div class="spacing-200"></div>
<div class="spacing-200"></div>
</div>