<section class="pt-large pb-md-large" id="about" data-scroll-section>
    <div data-scroll data-scroll-repeat data-scroll-call="three"></div>
    <div class="container">
        <div class="row gx-0 pb-xsmall pb-md-small">
            <div class="offset-3 offset-md-4 col-md-6">
                <p class="fade-in-down" data-scroll>
                   Czym się zajmuje
                </p>
            </div>
        </div>

        <div class="row gx-0">
            <div class="offset-1 offset-md-2 col-2 pb-md-xsmall">
                <p class="fade-in-down" data-scroll>
                    <small>
                        04
                    </small>
                </p>
            </div>
            <div class="col-9 col-md-8">
                <h2 class="xxl splt" data-scroll>DOŚ</h2>
            </div>
        </div>
        <div class="row gx-0">
            <div class="offset-1 offset-md-2 col-10">
                <h2 class="xxl splt" data-scroll>WIAD</h2>
            </div>
        </div>
        <div class="row gx-0">
            <div class="offset-3 offset-md-4 col-9 col-md-8">
                <h2 class="xxl splt" data-scroll>CZENIE</h2>
            </div>
        </div>

        <div class="row gx-0 pt-large pt-md-medium">
            <div class="offset-1 offset-md-2 col-2">
                <div class="counter fade-in" data-scroll>
                    <h3 class="xxl text-stroke text-center">
                        <ul class="counter-numbers mt-1 mt-md-2" data-scroll>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                        </ul>
                    </h3>
                    <span class="counter-title fade-in" data-scroll>
                        <small>Lat doświadczenia</small>
                    </span>
                </div> 
            </div>
            <div class="offset-1 col-6 col-md-4">
                <p class="mt-2 fade-in" data-scroll>
                    Tworzenie stron to moja pasja, lubię niebanalne projekty i oryginalny design. Do każdego zlecenia podchodzę z dużym zaangażowaniem oraz z dbałością o każdy szczegół. Nie korzystam z pagebuldierów.
                </p>
            </div>
        </div>

    </div>
</section>