        <div class="row">
            <div class="col-md-6">
                <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random" />
                </div>
                </section>
            </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&2" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&6" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&7" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&8" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&12" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&13" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&14" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&15" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&16" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&17" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&18" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
                        <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&32" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&36" />
                </div>
            </section>
            </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&73" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&38" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&22" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&23" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&24" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&25" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&26" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&27" />
                </div>
            </section>
                        </div>
            <div class="col-md-6">
            <section class="trigger">
                <div class="element">
                    <img class="image" src="https://source.unsplash.com/random/?Nature&28" />
                </div>
            </section>
                        </div>
        </div>