<section class="pt-md-large pb-small" id="portfolio" data-scroll-section>
    <div data-scroll data-scroll-repeat data-scroll-call="one"></div>
    <div class="container">
        <div class="row gx-0 pb-xsmall pb-md-small">
            <div class="offset-3 offset-md-4 col-md-6">
                <p class="fade-in-down" data-scroll>
                    Wybrane prace
                </p>
            </div>
        </div>
        <div class="row gx-0">
            <div class="offset-1 offset-md-2 col-2 pb-md-xsmall">
                <p class="fade-in-down" data-scroll>
                    <small>
                        02
                    </small>
                </p>
            </div>
            <div class="col-8">
                <h2 class="xxl splt" data-scroll>REA</h2>
            </div>
        </div>
        <div class="row gx-0">
            <div class="offset-1 offset-md-2 col-8">
                <h2 class="xxl splt" data-scroll>LIZA</h2>
            </div>
        </div>
        <div class="row gx-0">
            <div class="offset-4 offset-md-5 col-7">
                <h2 class="xxl splt" data-scroll>CJE</h2>
            </div>
        </div>
    </div>
</section>
<section class="pb-large" data-scroll-section>
    <div class="container">
        <div class="row gx-0">
            <div class="col-md-2 d-none d-md-block pt-xsmall">
                <div class="portfolio-img-wrap fade-in-down" data-scroll>
                    <div class="portfolio-img p-img-1">
                        <img src="/assets/img/mockups/mobile-1.webp" alt="">
                    </div>
                    <div class="portfolio-img p-img-2">
                        <img src="/assets/img/mockups/mobile-2.webp" alt="">
                    </div>
                    <div class="portfolio-img p-img-3">
                        <img src="/assets/img/mockups/mobile-3.webp" alt="">
                    </div>
                    <div class="portfolio-img p-img-4">
                        <img src="/assets/img/mockups/mobile-4.webp" alt="">
                    </div>
                    <div class="portfolio-img p-img-5">
                        <img src="/assets/img/mockups/mobile-5.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="offset-3 offset-md-2 col-7 col-md-6">
                <div class="portfolio-list-wrap pb-xsmall">
                    <ul class="portfolio-list">
                        <li class="portfolio-item d-flex align-items-center fade-in-down" data-scroll>
                            <a
                                href="https://businesswomanlife.pl/"
                                class="portfolio-link p-link-1 h4"
                                title="Business Woman"
                                aria-label="Business Woman"
                                rel="nofollow"
                                target="_blank">
                                Business Woman
                            </a>
                        </li>
                        <li class="portfolio-item d-flex align-items-center fade-in-down" data-scroll>
                            <a
                                href="https://ecotechgroup.pl/"
                                class="portfolio-link p-link-2 h4"
                                title="Eco Tech Group"
                                aria-label="Eco Tech Group"
                                rel="nofollow"
                                target="_blank">
                                Eco Tech Group
                            </a>
                        </li>
                        <li class="portfolio-item d-flex align-items-center fade-in-down" data-scroll>
                            <a
                                href="https://mastermatch.online/"
                                class="portfolio-link p-link-3 h4"
                                title="Mastermatch Online"
                                aria-label="Mastermatch Online"
                                rel="nofollow"
                                target="_blank">
                                Mastermatch Online
                            </a>
                        </li>
                        <li class="portfolio-item d-flex align-items-center fade-in-down" data-scroll>
                             <a
                                href="https://egp-system.com/"
                                class="portfolio-link p-link-4 h4"
                                title="EGP System"
                                aria-label="EGP System"
                                rel="nofollow"
                                target="_blank">
                                EGP System
                            </a>
                        </li>
                        <li class="portfolio-item d-flex align-items-center fade-in-down" data-scroll>
                            <a
                                href="https://callyoursoul.pl/"
                                class="portfolio-link p-link-5 h4"
                                title="Call Your Soul"
                                aria-label="Call Your Soul"
                                rel="nofollow"
                                target="_blank">
                                Call Your Soul
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="portfolio-img-wrap fade-in-down" data-scroll>
                    <div class="portfolio-img p-img-1">
                        <img src="/assets/img/mockups/desktop-1.webp" alt="">
                    </div>
                    <div class="portfolio-img p-img-2">
                        <img src="/assets/img/mockups/desktop-2.webp" alt="">
                    </div>
                    <div class="portfolio-img p-img-3">
                        <img src="/assets/img/mockups/desktop-3.webp" alt="">
                    </div>
                    <div class="portfolio-img p-img-4">
                        <img src="/assets/img/mockups/desktop-4.webp" alt="">
                    </div>
                    <div class="portfolio-img p-img-5">
                        <img src="/assets/img/mockups/desktop-5.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-none d-md-block pt-xsmall">
                <div class="portfolio-img-wrap fade-in-down" data-scroll>
                    <div class="portfolio-img p-img-1">
                        <img src="/assets/img/mockups/brand-1.webp" alt="">
                    </div>
                    <div class="portfolio-img p-img-2">
                        <img src="/assets/img/mockups/brand-2.webp" alt="">
                    </div>
                    <div class="portfolio-img p-img-3">
                        <img src="/assets/img/mockups/brand-3.webp" alt="">
                    </div>
                    <div class="portfolio-img p-img-4">
                        <img src="/assets/img/mockups/brand-4.webp" alt="">
                    </div>
                    <div class="portfolio-img p-img-5">
                        <img src="/assets/img/mockups/brand-5.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>