<section>
    <div class="container">
        <div class="row gx-0 pb-small">
            <div class="offset-3 col-md-6">
                <p>
                    Wybrane prace
                </p>
            </div>
        </div>
        <div class="row gx-0">
            <div class="offset-1 offset-md-2 col-1 pb-xsmall">
                <p>
                    <small>
                        01
                    </small>
                </p>
            </div>
            <div class="offset-1 col-6">
                <h2 class="xxl" data-splitting>
                    REA
                </h2>
            </div>
        </div>
        <div class="row gx-0">
            <div class="offset-1 offset-md-2 col-8">
                <h2 class="xxl" data-splitting>
                    LIZA
                </h2>
            </div>
        </div>
        <div class="row gx-0">
            <div class="offset-3 offset-md-5 col-5">
                <h2 class="xxl" data-splitting>
                    CJE
                </h2>
            </div>
        </div>
    </div>
</section>

<div class="pt-md-xlarge pt-medium"></div>

<section>
    <div class="container">
        <div class="row gx-0">
            <div class="offset-1 offset-md-3 col-12 col-md-5">
                <div class="portfolio-list-wrap">
                    <ul class="portfolio-list">
                        <li class="portfolio-item d-flex align-items-center">
                            <span class="offset-1 offset-md-0 col-1 col-md-2 small">I</span>
                            <a href="#" class="h4" title="Eco Tech Group" aria-label="Eco Tech Group">Eco Tech Group</a>
                        </li>
                        <li class="portfolio-item d-flex align-items-center">
                            <span class="offset-1 offset-md-0 col-1 col-md-2 small">II</span>
                            <a href="#" class="h4" title="Business Woman" aria-label="Business Woman">Business Woman</a>
                        </li>
                        <li class="portfolio-item d-flex align-items-center">
                            <span class="offset-1 offset-md-0 col-1 col-md-2 small">III</span>
                            <a href="#" class="h4" title="EGP System" aria-label="EGP System">EGP System</a>
                        </li>
                        <li class="portfolio-item d-flex align-items-center">
                            <span class="offset-1 offset-md-0 col-1 col-md-2 small">IV</span>
                            <a href="#" class="h4" title="Call Your Soul" aria-label="Call Your Soul">Call Your Soul</a>
                        </li>
                        <li class="portfolio-item d-flex align-items-center">
                            <span class="offset-1 offset-md-0 col-1 col-md-2 small">V</span>
                            <a href="#" class="h4" title="Gaszyn Park" aria-label="Gaszyn Park">Gaszyn Park</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row gx-0">
            <div class="col-2 d-none d-md-block">
                <div class="overlay-40 trans-minus-md-100">
                    <img src="assets/img/mobile.png" alt="">
                </div>
            </div>
            <div class="offset-md-1 col-12 col-md-6 d-none d-md-block">
                <div class="overlay-40 mt-md-5">
                    <img src="assets/img/desktop.jpg" alt="">
                </div>
            </div>
            <div class="col-2 d-none d-md-block">
                <div class="overlay-40 trans-minus-md-200">
                    <img src="assets/img/brand.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>