<section>
    <div class="container">
        <div class="row gx-0 pb-xsmall pb-md-small">
            <div class="offset-3 col-md-6">
                <p class="fade-down">
                    Wybrane prace
                </p>
            </div>
        </div>
        <div class="row gx-0">
            <div class="offset-2 col-1 pb-xsmall">
                <p class="fade-down">
                    <small>
                        01
                    </small>
                </p>
            </div>
            <div class="offset-md-1 col-8">
                <h2 class="xxl splt">
                    REA
                </h2>
            </div>
        </div>
        <div class="row gx-0">
            <div class="offset-2 col-8">
                <h2 class="xxl splt">
                    LIZA
                </h2>
            </div>
        </div>
        <div class="row gx-0">
            <div class="offset-4 offset-md-5 col-7">
                <h2 class="xxl splt">
                    CJE
                </h2>
            </div>
        </div>
    </div>
</section>

<div class="pt-md-xlarge pt-medium"></div>

<section>
    <div class="container">
        <div class="row gx-0">
            <div class="offset-1 offset-md-3 col-12 col-md-5">
                <div class="portfolio-list-wrap">
                    <ul class="portfolio-list">
                        <li class="portfolio-item d-flex align-items-center portfolio-link p-link-1">
                            <span class="offset-1 offset-md-0 col-1 col-md-2 small fade-down">
                                <span>I</span>
                            </span>
                            <a href="https://callyoursoul.pl/" class="site-link-portfolio h4 split-line" title="Eco Tech Group"
                                aria-label="Eco Tech Group">
                               Business Woman 
                            </a>
                        </li>
                        <li class="portfolio-item d-flex align-items-center portfolio-link p-link-2">
                            <span class="offset-1 offset-md-0 col-1 col-md-2 small fade-down">II</span>
                            <a href="https://callyoursoul.pl/" class="site-link-portfolio h4 split-line" title="Business Woman"
                                aria-label="Business Woman">
                                Eco Tech Group
                            </a>
                        </li>
                        <li class="portfolio-item d-flex align-items-center portfolio-link p-link-3">
                            <span class="offset-1 offset-md-0 col-1 col-md-2 small fade-down">III</span>
                            <a href="https://callyoursoul.pl/" class="site-link-portfolio h4 split-line" title="EGP System"
                                aria-label="EGP System">
                                Mastermatch Online
                            </a>
                        </li>
                        <li class="portfolio-item d-flex align-items-center portfolio-link p-link-4">
                            <span class="offset-1 offset-md-0 col-1 col-md-2 small fade-down">IV</span>
                            <a href="https://callyoursoul.pl/" class="site-link-portfolio h4 split-line" title="Call Your Soul"
                                aria-label="Call Your Soul">
                                Call Your Soul
                            </a>
                        </li>
                        <li class="portfolio-item d-flex align-items-center portfolio-link p-link-5">
                            <span class="offset-1 offset-md-0 col-1 col-md-2 small fade-down">V</span>
                            <a href="https://callyoursoul.pl/" class="site-link-portfolio h4 split-line" title="Gaszyn Park"
                                aria-label="Gaszyn Park">
                                EGP System
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row gx-0">
            <div class="col-2 d-none d-md-block">
                <div class="portfolio-img-wrap overlay-20 trans-minus-md-100">
                    <img src="/assets/img/mockups/mobile-1.jpg" loading="lazy" class="portfolio-img p-img-1" alt="">
                    <img src="/assets/img/mockups/mobile-2.jpg" loading="lazy" class="portfolio-img p-img-2" alt="">
                    <img src="/assets/img/mockups/mobile-3.jpg" loading="lazy" class="portfolio-img p-img-3" alt="">
                    <img src="/assets/img/mockups/mobile-4.jpg" loading="lazy" class="portfolio-img p-img-4" alt="">
                    <img src="/assets/img/mockups/mobile-5.jpg" loading="lazy" class="portfolio-img p-img-5" alt="">
                </div>
            </div>
            <div class="offset-md-1 col-12 col-md-6 d-none d-md-block">
                <div class="portfolio-img-wrap overlay-20 mt-md-5">
                    <img src="/assets/img/mockups/desktop-1.jpg" loading="lazy" class="portfolio-img p-img-1" alt="">
                    <img src="/assets/img/mockups/desktop-2.jpg" loading="lazy" class="portfolio-img p-img-2" alt="">
                    <img src="/assets/img/mockups/desktop-3.jpg" loading="lazy" class="portfolio-img p-img-3" alt="">
                    <img src="/assets/img/mockups/desktop-4.jpg" loading="lazy" class="portfolio-img p-img-4" alt="">
                    <img src="/assets/img/mockups/desktop-5.jpg" loading="lazy" class="portfolio-img p-img-5" alt="">
                </div>
            </div>
            <div class="col-2 d-none d-md-block">
                <div class="portfolio-img-wrap overlay-20 trans-minus-md-200">
                    <img src="/assets/img/mockups/brand-1.jpg" loading="lazy" class="portfolio-img p-img-1" alt="">
                    <img src="/assets/img/mockups/brand-2.jpg" loading="lazy" class="portfolio-img p-img-2" alt="">
                    <img src="/assets/img/mockups/brand-3.jpg" loading="lazy" class="portfolio-img p-img-3" alt="">
                    <img src="/assets/img/mockups/brand-4.jpg" loading="lazy" class="portfolio-img p-img-4" alt="">
                    <img src="/assets/img/mockups/brand-5.jpg" loading="lazy" class="portfolio-img p-img-5" alt="">
                </div>
            </div>
        </div>
    </div>
</section>