    <section>
        <div class="container">
            <div class="row gx-0 pb-small">
                <div class="offset-md-3 col-md-6">
                    <p>
                        Moje usługi
                    </p>
                </div>
            </div>
            <div class="row gx-0">
                <div class="offset-md-2 col-md-1">
                    <p> 
                        <small>
                            02
                        </small>
                    </p>
                </div>
                <div class="col-6">
                    <h2 data-splitting>
                        US
                    </h2>
                </div>
            </div>
            <div class="row gx-0">
                <div class="offset-2 col-10">
                    <h2 data-splitting>
                       ŁU
                    </h2>
                </div>
            </div>
            <div class="row gx-0">
                <div class="offset-4 col-5">
                    <h2 data-splitting>
                        GI
                    </h2>
                </div>
            </div>
        </div>
        <div class="spacing-200"></div>
    </section>