    <section>
        <div class="container">
            <div class="row gx-0 pb-xsmall pb-md-small">
                <div class="offset-3 col-md-6">
                    <p>
                        Moje usługi
                    </p>
                </div>
            </div>
            <div class="row gx-0">
                <div class="offset-2 col-1">
                    <p>
                        <small>
                            02
                        </small>
                    </p>
                </div>
                <div class="col-9">
                    <h3 class="xl split-line">
                        <span class="text-stroke">
                            PROJEKT
                        </span> <span> &</span>
                        KODOWANIE
                    </h3>
                </div>
            </div>

            <div class="pt-small pt-md-medium"></div>

            <div class="row gx-0">
                <div class="offset-1 offset-md-3 col-12 col-md-5">
                    <div class="portfolio-list-wrap">
                        <ul class="portfolio-list">
                            <li class="portfolio-item d-flex align-items-center">
                                <span class="offset-1 offset-md-0 col-1 col-md-2 small">I</span>
                                <a href="https://callyoursoul.pl/" class="h4" title="Eco Tech Group"
                                    aria-label="Eco Tech Group" class="site-link-portfolio">Eco Tech Group</a>
                            </li>
                            <li class="portfolio-item d-flex align-items-center">
                                <span class="offset-1 offset-md-0 col-1 col-md-2 small">II</span>
                                <a href="https://callyoursoul.pl/" class="h4" title="Business Woman"
                                    aria-label="Business Woman" class="site-link-portfolio">Business Woman</a>
                            </li>
                            <li class="portfolio-item d-flex align-items-center">
                                <span class="offset-1 offset-md-0 col-1 col-md-2 small">III</span>
                                <a href="https://callyoursoul.pl/" class="h4" title="EGP System" aria-label="EGP System"
                                    class="site-link-portfolio">EGP System</a>
                            </li>
                            <li class="portfolio-item d-flex align-items-center">
                                <span class="offset-1 offset-md-0 col-1 col-md-2 small">IV</span>
                                <a href="https://callyoursoul.pl/" class="h4" title="Call Your Soul"
                                    aria-label="Call Your Soul" class="site-link-portfolio">Call Your Soul</a>
                            </li>
                            <li class="portfolio-item d-flex align-items-center">
                                <span class="offset-1 offset-md-0 col-1 col-md-2 small">V</span>
                                <a href="https://callyoursoul.pl/" class="h4" title="Gaszyn Park"
                                    aria-label="Gaszyn Park" class="site-link-portfolio">Gaszyn Park</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-md-large pt-small"></div>

    </section>