<section class="pt-md-large pb-md-large" id="services" data-scroll-section>
    <div data-scroll data-scroll-repeat data-scroll-call="two"></div>
    <div class="container">
        <div class="row gx-0 pb-xsmall pb-md-small">
            <div class="offset-3 offset-md-4 col-md-6">
                <p class="fade-in-down" data-scroll>
                    Moje usługi
                </p>
            </div>
        </div>

        <div class="row gx-0">
            <div class="offset-1 offset-md-2 col-2">
                <p class="fade-in-down" data-scroll>
                    <small>
                        03
                    </small>
                </p>
            </div>
            <div class="col-8">
                <h3 class="xl">
                    <span class="overflow-hidden fade-in-down" data-scroll>
                        <span class="split-line text-stroke">
                            PROJEKT &
                        </span>
                    </span>
                    <span class="overflow-hidden fade-in-down" data-scroll>
                        <span class="split-line">
                            KODOWANIE
                        </span>
                    </span>
                </h3>
            </div>
        </div>

        <div class="row gx-0 pt-xsmall pt-md-small">
            <div class="offset-3 offset-md-4 col-7 col-md-6">
                <div class="portfolio-list-wrap">
                    <div class="accordion-wrap">
                    <div class="item-1 mt-4 fade-in-down" data-scroll="data-scroll">
                        <span class="anim-line" data-scroll="data-scroll"></span>
                        <div class="accordion">
                            <div class="h5 title">Strony internetowe</div>
                            <div class="icon"></div>
                        </div>
                        <div class="panel col-md-11">
                            <p>
                                Tworzę strony internetowe, które pomagają w sprzedaży produktów oraz usług. Projekt graficzny oraz funkcje, dostosowuje do branży oraz potrzeb, budując wyjątkowy i przemyślany wizerunek firmy.
                            </p>
                        </div>
                        <span class="anim-line" data-scroll="data-scroll"></span>
                    </div>
                    <div class="item-2 fade-in-down" data-scroll="data-scroll">
                        <div class="accordion">
                            <div class="h5 title">Sklepy ecommerce</div>
                            <div class="icon"></div>
                        </div>
                        <div class="panel col-md-11">
                            <p>
                              Buduje sklepy internetowe, które przyciągają odwiedzających i utrzymują ich lojalność. Analizuje Twoją niszę biznesową, identyfikuje odpowiednich odbiorców i starannie dobieram najlepsze rozwiązania i narzędzia.
                            </p>
                        </div>
                        <span class="anim-line" data-scroll="data-scroll"></span>
                    </div>
                    <div class="item-3 fade-in-down" data-scroll="data-scroll">
                        <span class="anim-line" data-scroll="data-scroll"></span>
                        <div class="accordion">
                            <div class="h5 title">Serwisy i portale www</div>
                            <div class="icon"></div>
                        </div>
                        <div class="panel col-md-11">
                            <p>
                                 Serwis buduję w taki sposób, aby maksymalnie ułatwić życie tym, którzy będą go używali. Szybkie ładowanie, przygotowanie na dużą liczbę odwiedzin i jasny układ podstron sprawią, że klienci wrócą zachęceni sprawnym działaniem.
                            </p>
                        </div>
                        <span class="anim-line" data-scroll="data-scroll"></span>
                    </div>
                    <div class="item-4 fade-in-down" data-scroll="data-scroll">
                        <div class="accordion">
                            <div class="h5 title">Pozycjonowanie w Google</div>
                            <div class="icon"></div>
                        </div>
                        <div class="panel col-md-11">
                            <p>
                               Składa się z ok 200 czynników które wpływają na widoczność strony w wynikach wyszukiwania.
                            </p>
                        </div>
                        <span class="anim-line" data-scroll="data-scroll"></span>
                    </div>
                    <div class="item-5 fade-in-down" data-scroll="data-scroll">
                        <div class="accordion">
                            <div class="h5 title">Administracja stron</div>
                            <div class="icon"></div>
                        </div>
                        <div class="panel col-md-11">
                            <p>
                                Aktualizacje, dodawanie treści, zmiany.
                            </p>
                        </div>
                        <span class="anim-line" data-scroll="data-scroll"></span>
                    </div>
                    <div class="item-6 fade-in-down" data-scroll="data-scroll">
                        <div class="accordion">
                            <div class="h5 title">Optymalizacja techniczna</div>
                            <div class="icon"></div>
                        </div>
                        <div class="panel col-md-11">
                            <p>
                                Optymalizacja strony pod kątem poprawności kodu, semantyki, meta danych i prędkości ładowania.
                            </p>
                        </div>
                        <span class="anim-line" data-scroll="data-scroll"></span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>