<section class="pt-xlarge pb-large" data-scroll-section>
    <div class="container pt-small">
        <div class="row gx-0">
            <div class="offset-3 col-md-6 pb-xsmall pb-md-small">
                <p class="fade-down">
                    Dzień dobry
                </p>
            </div>
        </div>
        <div class="row gx-0">
            <div class="offset-2 offset-md-2 col-1">
                <p class="fade-down">
                    <small>
                        01
                    </small>
                </p>
            </div>
            <div class="col-8 col-md-5">
                <h1 class="h3 mt-1">
                    Jestem Przemek. <span class="text-stroke">Wykonuję strony internetowe</span> dla małych i średnich
                    firm. Postaw na specjalistyczne wsparcie i skutecznie rozwijaj swój biznes
                </h1>
            </div>
        </div>
        <div class="row gx-0">
            <div class="offset-3 col-9">
                <a href="/index2/">Zobacz więcej</a>
            </div>
        </div>
    </div>
</section>